body{
    margin: 0;
    padding: 0; 
    height: 1000px;
    background-color:rgba(217, 255, 0, 0.413);
}

header > .base-cabeçalho{
    max-width: 2560px;
    height: 150px;
    background-color:rgb(255, 238, 0);
}

.logo-text-rdsociais > img{
    padding: 0.5% 0% 0% 10.4%;
}

 .barra-pesquisa{
    display: inline-block;
    vertical-align: 34px;
    padding-left: 30px; 
}

.barra-pesquisa > div{
    background-color: rgb(255, 255, 255);
    padding: 7px;
    border-radius: 100px;
    border: 10px;
}

input[type=text]{
    width: 400px;
}

input[type=button]{
    vertical-align: -8px;
    padding: 1px 13px;
    background-image: url('favicon/icon/lupa\ pesquisa.png');
    background-size: 23px;
    background-repeat: no-repeat;
    background-color:rgb(255, 255, 255);
}

input[type=button]:hover{
 background-color:rgba(176, 176, 176, 0.528);
 border-radius: 10px;
}

form.barra-pesquisa > div > input{
 outline: 0;
 border: 0;
}

.rdsociais{
    display:inline-block;
    vertical-align: 19px;
    margin-left:30px;
}

div.rdsociais picture > img{
    margin: 5px;
}

.navegaçao-menu > ol > li{
    display: inline-block;
    margin: 10px 10px;
    padding: 0px 7px;
    
 
}

.navegaçao-menu > ol > li > a{

    color:rgb(0, 0, 0);
    text-decoration: underline rgb(0, 157, 255);
    font-family: "Kanit", sans-serif;
    font-weight: bold;
}

.navegaçao-menu{
    position: relative;
    width: 989px;
    bottom: 27px;
    left:16.0%; 
}

 .navegaçao-menu > ol > li:hover{
    background-color: rgba(255, 255, 255, 0.576);
    border-radius: 20px;
}



/* responsivo 1440px*/
@media screen and (max-width:2560px){
}

@media screen and (max-width:1340px){
    .logo-text-rdsociais > img{
        padding: 0.5% 0% 0% 9%;
    }
    .navegaçao-menu{
        position: relative;
        width: 989px;
        bottom: 27px;
        left:15%; 
    }
}

@media screen and (max-width:1300px){
    .logo-text-rdsociais > img{
        padding: 0.5% 0% 0% 8%;
    }
    .navegaçao-menu{
        position: relative;
        width: 989px;
        bottom: 27px;
        left:14%; 
    }
}

@media screen and (max-width:1260px){
    .logo-text-rdsociais > img{
        padding: 0.5% 0% 0% 6%;
    }
    .navegaçao-menu{
        position: relative;
        width: 989px;
        bottom: 27px;
        left:11%; 
    }
}

@media screen and (max-width:1220px){
    .logo-text-rdsociais > img{
        padding: 0.5% 0% 0% 5%;
    }
    .navegaçao-menu{
        position: relative;
        width: 989px;
        bottom: 27px;
        left:10%; 
    }
}

@media screen and (max-width:1180px){
    .logo-text-rdsociais > img{
        padding: 0.5% 0% 0% 2%;
    }
    .navegaçao-menu{
        position: relative;
        width: 989px;
        bottom: 27px;
        left:8%; 
    }
}

@media screen and (max-width:1176px){


    input[type=text]{
        width: 400px;
    }

    .barra-pesquisa{
        padding-left: 30px; 
    }

    .rdsociais{
        margin-left:20px;
    }

    .navegaçao-menu{
        position: relative;
        width: 989px;
        bottom: 27px;
        left:9%; 
    }


}

@media screen and (max-width:1136px){
    input[type=text]{
        width: 360px;
    }

    .navegaçao-menu{
        position: relative;
        width: 970px;
        bottom: 27px;
        left:8%; 
    }
}

@media screen and (max-width:1096px){
    input[type=text]{
        width: 340px;
    }

    .navegaçao-menu{
        position: relative;
        width: 970px;
        bottom: 27px;
        left:7%; 
    }
}

@media screen and (max-width:1056px){
    input[type=text]{
        width: 320px;
    }

    .barra-pesquisa{
        padding-left: 20px; 
    }
    .rdsociais{
        margin-left:10px;
    }

    .navegaçao-menu{
        position: relative;
        width: 900px;
        bottom: 27px;
        left:6%; 
    }
}

/* Tablet*/

@media screen and (max-width:1016px){
    input[type=text]{
        width: 300px;
    }

    .barra-pesquisa{
        padding-left: 15px; 
    }
    .rdsociais{
        margin-left:5px;
    }

    .navegaçao-menu{
        position: relative;
        width: 900px;
        bottom: 27px;
        left:5%; 
    }
}

@media screen and (max-width:986px){
    .rdsociais{display: none;}

    .logo-text-rdsociais > img{
        padding: 0.5% 0% 0% 18%;
    }

    .navegaçao-menu{
        position: relative;
        width: 900px;
        bottom: 27px;
        left:3%; 
    }
}

@media screen and (max-width:946px){
    .rdsociais{display: none;}

    .logo-text-rdsociais > img{
        padding: 0.5% 0% 0% 16%;
    }

    .navegaçao-menu{
        position: relative;
        width: 870px;
        bottom: 27px;
        left:1%; 
    }
}

@media screen and (max-width:906px){
    .rdsociais{display: none;}

    .logo-text-rdsociais > img{
        padding: 0.5% 0% 0% 14%;
    }

    .navegaçao-menu{
        position: relative;
        width: 870px;
        bottom: 27px;
        left:-3%; 
    }
}

@media screen and (max-width:866px){
    .rdsociais{display: none;}

    .logo-text-rdsociais > img{
        padding: 0.5% 0% 0% 12%;
    }

    .navegaçao-menu{
        position: relative;
        width: 870px;
        bottom: 27px;
        left:-5%; 
    }
}

.png-mais{
    display: none;
}

/* Mobile */
@media screen and (max-width:846px){
    .rdsociais{display: none;}
    .navegaçao-menu{display: none;}
     .logo-text-rdsociais > img{
        padding: 0.5% 0% 0% 23.5%;
        width: 200px;
    }  
    header > .base-cabeçalho{
        height: 140px;
    }
  
    .barra-pesquisa{
      margin-left:21.5%;
    }

    input[type=text]{
        width: 400px;
    }

    .png-mais{
        display: inline-block;
        margin-left: 190px;
        vertical-align: 12px;
    }

    .png-mais > img{
        width: 40px;
    }

}
@media screen and (max-width:806px){
    .png-mais{
        margin-left: 190px;
    }

    .logo-text-rdsociais > img{
        padding: 0.5% 0% 0% 22%;
    }  

    .barra-pesquisa{
        margin-left:20%;
      }

}

@media screen and (max-width:766px){
    .png-mais{
        margin-left: 190px;
    }

    .logo-text-rdsociais > img{
        padding: 0.5% 0% 0% 20%;
    }  

    .barra-pesquisa{
        margin-left:18%;
      }

}

@media screen and (max-width:726px){
    .png-mais{
        margin-left: 190px;
    }

    .logo-text-rdsociais > img{
        padding: 0.5% 0% 0% 19%;
    }  

    .barra-pesquisa{
        margin-left:17%;
      }

}

@media screen and (max-width:686px){
    .png-mais{
        margin-left: 190px;
    }

    .logo-text-rdsociais > img{
        padding: 0.5% 0% 0% 17%;
    }  

    .barra-pesquisa{
        margin-left:15%;
      }

}

@media screen and (max-width:646px){
    .png-mais{
        margin-left: 190px;
    }

    .logo-text-rdsociais > img{
        padding: 0.5% 0% 0% 15%;
    }  

    .barra-pesquisa{
        margin-left:13%;
      }

}

@media screen and (max-width:606px){
    .png-mais{
        margin-left: 190px;
    }

    .logo-text-rdsociais > img{
        padding: 0.5% 0% 0% 11%;
    }  

    .barra-pesquisa{
        margin-left:9%;
      }

}

@media screen and (max-width:566px){
    .png-mais{
        margin-left: 190px;
    }

    .logo-text-rdsociais > img{
        padding: 0.5% 0% 0% 9%;
    }  

    .barra-pesquisa{
        margin-left:7%;
      }

}

@media screen and (max-width:526px){
    .png-mais{
        margin-left: 100px;
    }

    .logo-text-rdsociais > img{
        padding: 0.5% 0% 0% 15%;
    }  

    .barra-pesquisa{
        margin-left:12.5%;
      }

      input[type=text]{
        width: 300px;
    }

}

@media screen and (max-width:486px){
    .png-mais{
        margin-left: 90px;
    }

    .logo-text-rdsociais > img{
        padding: 0.5% 0% 0% 14%;
    }  

    .barra-pesquisa{
        margin-left:11%;
      }

      input[type=text]{
        width: 290px;
    }

}

@media screen and (max-width:446px){
    .png-mais{
        margin-left: 80px;
    }

    .logo-text-rdsociais > img{
        padding: 0.5% 0% 0% 12%;
    }  

    .barra-pesquisa{
        margin-left:9%;
      }

      input[type=text]{
        width: 280px;
    }

}

@media screen and (max-width:406px){
    .png-mais{
        margin-left: 70px;
    }

    .logo-text-rdsociais > img{
        padding: 0.5% 0% 0% 9%;
    }  

    .barra-pesquisa{
        margin-left:6%;
      }

      input[type=text]{
        width: 270px;
    }

}

@media screen and (max-width:366px){
    .png-mais{
        margin-left: 55px;
    }

    .logo-text-rdsociais > img{
        padding: 0.5% 0% 0% 6%;
    }  

    .barra-pesquisa{
        margin-left:3%;
      }

      input[type=text]{
        width: 250px;
    }

}

@media screen and (max-width:326px){
    .png-mais{
        margin-left: 30px;
    }

    .logo-text-rdsociais > img{
        padding: 0.5% 0% 0% 3%;
    }  

    .barra-pesquisa{
        margin-left:0%;
      }

      input[type=text]{
        width: 230px;
    }

}





